<%# Two conditional containers. Top container shows metrics to be chosen if a report has not been created. Bottom container shows report if one has been created. %>

<div id="main-container" class="container">
	<% if @reports.blank? %>
		<div class="row">
		    <div class="col-md-12">
				<div class="page-header">
					<h1><%=t ".title", default: "Create Report" %></h1>
				</div>
		     	Content is: <%= @content[:last_week] %>
				Client is: <%= @zendesk_client.search(query: "type:ticket ") %>
		    </div>
		</div>

		<div class="row">
		    <%= form_for @report, html: {class: "form-horizontal form-user"} do |f| %>
		    

		      <div class="form-group">
		          <%= f.label :tag, "Which tag do you want to update your team on?", class: "control-label col-md-4" %>
		          <div class="col-md-4">
		            <%= f.select :tag, current_user.get_tags %>
		          </div>
		      </div>
		      <div class="form-group">
		          <%= f.label :mailbox_hsid, "From which mailbox?", class:  "control-label col-md-4" %>
		          <div class="col-md-4">
		            <%= f.select :mailbox_hsid, current_user.get_mailboxes %>
		          </div>
		      </div>
		      <div class="form-group">
		          <%= f.label :recipient_email, "Who should receive the report?", class: "control-label col-md-4" %>
		          <div class="col-md-4">
		            <%= f.text_field(:recipient_email) %>
		          </div>
		      </div>
		      <div>
		        <div class="col-md-4">
		          <p>Active reports are compiled and emailed at midnight on Sunday covering the previous seven days.</p>
		        </div>
		      </div>
		      <div class="form-group">
		        <div class="col-md-4">
		        </div>
		        <div class="col-md-4">
		          <%= f.submit "Save", class: "btn btn-primary" %>
		        </div>
		      </div>
		    <% end %>
		</div>
	<% end %>
</div>

<div id="main-container" class="container">
	<% unless @reports.blank? %>
		<div class="row">
		    <div class="col-md-12">
		      <div class="page-header">
		        <h1><%=t ".title", default: "Report" %></h1>
		      </div>
		    </div>
		</div>
	<% end %>
</div>

