<%# Two conditional containers. Top container shows metrics to be chosen if a report has not been created. Bottom container shows report if one has been created. %>

<div id="main-container" class="container">
	<% if @reports.blank? %>
		<div class="row">
		    <div class="col-md-12">
				<div class="page-header">
					<h1><%=t ".title", default: "Create Report" %></h1>
				</div>
		     	<div>Client is: <%= @zendesk_client %></div>
				<div>Volume is: <%= @volume %></div>
				<div>Info_hash is: <%= @info_hash %></div>
		    </div>
		</div>

		<div class="row">
		    <%= form_for @report, html: {class: "form-horizontal form-user"} do |f| %>
		    
				<div class="form-group">
					<%= f.label :volume, "Volume", class:  "control-label col-md-6" %>
					<div class="col-md-6">
						<%= f.check_box :volume %>
				  	</div>
				</div>
				<div class="form-group">
					<%= f.label :satisfaction, "Satisfaction", class:  "control-label col-md-6" %>
					<div class="col-md-6">
						<%= f.check_box :satisfaction %>
					</div>
				</div>
				<div class="form-group">
				    <%= f.label :first_response_time, "First Response Time", class:  "control-label col-md-6" %>
				    <div class="col-md-6">
				      <%= f.check_box :first_response_time %>
				    </div>
				</div>
				<div class="form-group">
					<%= f.label :resolution_time, "Resolution Time", class:  "control-label col-md-6" %>
					<div class="col-md-6">
			    		<%= f.check_box :resolution_time %>
					</div>
				</div>
				<div class="form-group">
					<%= f.label :top_tags, "Top Tags", class:  "control-label col-md-6" %>
					<div class="col-md-6">
						<%= f.check_box :top_tags %>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-6">
					</div>
					<div class="col-md-6">
					  <%= f.submit "Save", class: "btn btn-primary" %>
					</div>
				</div>
		    <% end %>
		</div>
	<% end %>
</div>

<div id="main-container" class="container">
	<% unless @reports.blank? %>
		<div class="row">
		    <div class="col-md-12">
		      	<div class="page-header">
		    		<h1><%=t ".title", default: "Report" %></h1>
		      	</div>
		      	<div>
		      		<% if @reports.first.volume == true %>
		      		Volume = <%= @volume %>
		      		<% end %>
		      	</div>
		      	<div>
		      		<% if @reports.first.satisfaction == true %>
		      		Satisfaction = not so mucho
		      		<% end %>
		      	</div>
		      	<div>
		      		<% if @reports.first.first_response_time == true %>
		      		First Response Time = looooong
		      		<% end %>
		      	</div>
		      	<div>
		      		<% if @reports.first.resolution_time == true %>
		      		Resolution Time = not too long
		      		<% end %>
		      	</div>
		      	<div>
		      		<% if @reports.first.top_tags == true %>
		      		Top Tags = all the tags
		      		<% end %>
		      	</div	
		    </div>
		</div>
	<% end %>
</div>

